.navbar {
  /* background: lightgray; */
  padding: 1rem 0 1rem 0;
}

body {
  margin: 0;
  background: url('https://wallpapercave.com/wp/wp2411501.jpg');
  background-size: cover;
}

h1 {
  color: white;
  margin: .5rem;
  text-align: center;
  font-size: 50px;
}

.p2-t {
  padding-top: 2rem;
}

.p2-a {
  padding: 2rem;
  color: white;
  border-style: inset;
}

.p0-a {
  padding: 0.5rem;
  border-radius: 10px;
  border-style: outset;
}

.p1-a {
  padding: 1rem;
}

.m-rl {
  margin: 0 10% 0 10%;
}

.lines {
  border: 2px solid white;
}

.greenbtn {
  background:rgb(192,32,28);
  color: white;
}

.graybtn {
  background: lightgray;
  color: gray;
}

.f-r {
  float: right;
}
.inline {
  display: inline-block;
  padding-left: 1rem;
}

li {
  list-style: none;
}
.bold {
  font-weight: bold;
}

img {
  float: right;
  height: 200px;
  width: 150px;
}

.col {
  width: 47%;
  display: inline-block;
  vertical-align: middle;
}

.hide {
  display: none;
}

.cir {
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  border-radius: 50%;
  margin-top: .5rem;
}

.filledcir {
  background-color: green;
  border: 1px solid black;
}
.opencir {
  background-color: white;
  border: 1px solid black;
}